* {
  padding: 0;
  margin: 0;
}
:root {
  --background-body: #2b3499;
  --font-h1: #ff6c22;
  --color1: #ff9209;
  --color2: #ffd099;
}
/* default elements */
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.8rem;
  color: var(--background-body);
  background-color: var(--color2);
  width: 43vw;
  margin: auto;
  text-align: center;
  padding: 10px;
  border-radius: 13px;
  margin-top: 30px;
}

p {
  font-family: "Agbalumo";
  font-size: 2rem;
  text-align: center;
  margin: 20px 0
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto:wght@100&display=swap");

/* Div Content */
body {
  background-color: var(--color1);
  width: 80%;
  margin: auto;
}
#content {
  width: 80%;
  margin: auto;
}
/* header + nav bar */
header {
  text-align: center;
}
/* nav */
nav {
  background-color: var(--background-body);
  margin-top: 20px;
  border-radius: 0 25px 0 25px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

nav ul li a {
  all: unset;
  color: var(--color1);
  font-family: "Agbalumo";
  transition: 0.3s;
  cursor: pointer;
}

nav ul li a:hover{
  background-color: var(--font-h1);
  padding: 10px 20px;
  color: var(--background-body);
}

/* Menu */
.menu ul{
 list-style: none;
 font-family: 'Agbalumo';
 font-size: 2rem;
 text-align: center;
}